body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #f5f0e1;
    color: #333;
}

header {
    background-color: #5a352a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    text-size-adjust: 15px;
}

.header-content img {
    display: block; 
    margin: 0 auto; 
    max-width: 50%;
    height: auto;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    color: #333;
}

section h1, section h2 {
    color: #5a352a;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2e7d32;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

h1 {
    font-family:"Fira Code" ;
    font-size: 130px;
    margin-top: 10px;
    text-align: center;
    color: #5a352a;
}

h2 {
    font-family: "Pacifico", cursive;
}

p {
    font-family: "Open Sans", Arial, sans-serif;
}
