/* Reset default styles */
body, h1, h2, p, ul, li, a, select, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Base styles */
body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #f5f0e1;
    color: #333;
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 36px;
    color: #5a352a;
    margin-top: 10px;
}

h2 {
    font-family: "Pacifico", cursive;
    color: #5a352a;
}

.form-group label {
    font-weight: bold;
    color: #5a352a;
}

.form-control {
    background-color: #fff;
    color: #333;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

.btn {
    background-color: #2e7d32;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* Override Bootstrap styles */
.form-group select, .form-group input, .form-group textarea {
    font-family: "Open Sans", Arial, sans-serif;
    margin-top: 10px;
}

.form-group select {
    max-width: 100%;
}

.form-group textarea {
    resize: vertical;
}

/* Add more custom styles as needed */
